* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
.welcome {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #ffd5c0;
}
.welcome-text {
    margin-top: 10%;
    margin-left: 2%;
}
#welcome {
    background-color: #ffd5c0;
}
.welcome-text p {
    display: inline;
    font-family: "Cabin", sans-serif;
    padding: 0;
    font-size: 100px;
    font-weight: 800;
    line-height: 120px;
    margin: 0;
}
.welcome-image img {
    width: 800px;
    margin-top: 5%;
    padding-left: 250px;
}
.nav-wrapper {
    background-color: white !important;
    color: black !important;
    box-shadow: 0px 0px 0px !important;
}
.nav-wrapper a {
    color: black !important;
}
.nav-wrapper img {
    height: 70px;
}
.welcome-text a {
    display: block;
    width: 30%;
    margin-top: 5%;
    color: white !important;
    font-size: 20px;
    background: linear-gradient(
        90deg,
        rgba(255, 140, 55, 1) 30%,
        rgba(236, 55, 80, 1) 100%,
        rgba(236, 55, 80, 1) 150%
    ) !important;
}
span img {
    width: 90px;
}

.custom-shape-divider-top-1602522797 {
    position: absolute;
    /* background-color: #003049; */
    background-color: #d62828;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.section {
    position: relative;
}
.philosophy {
    padding-top: 10%;
    color: white !important;
    height: 120vh;
    font-family: "Cabin", sans-serif;
    background-color: #d62828;
}
.philosophy h1 {
    text-align: center;
    font-size: 130px;
}
.philosophy h3 {
    text-align: center;
}
.philosophy p {
    text-align: center;
    padding: 2% 30%;
    font-size: 20px;
}
#quotes {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: yellow;
}
.philosophy a {
    background-color: #ffc038 !important;
    margin: 0% 44%;
    font-size: 15px;
}
.whyus {
    background-color: #3391e9;
    height: 120vh;
    margin: 0;
}
.whyus p {
    font-family: "Cabin", sans-serif;
    text-align: center;
    padding: 2% 20%;
    font-size: 40px;
    color: white;
}
.whyus h1 {
    font-family: "Cabin", sans-serif;
    text-align: center;
    font-size: 130px;
    color: white;
}
.whyus a {
    background-color: #00509d !important;
    margin: -5% 44%;
    color: white !important;
    font-size: 15px;
}
.page-footer {
    background-color: #f72687 !important;
    margin-top: -1%;
}
.container {
    font-family: "Cabin", sans-serif;
    text-align: center;
    font-size: 15px;
}

ul:not(.browser-default) > li {
    /* list-style-type: none; */
    padding-right: 40px;
    height: 10px;
}

@media only screen and (max-width: 800px) {
    html,
    body {
        overflow-x: hidden;
    }
    .welcome-image img {
        width: 120%;
        margin-left: 70px;
        padding-left: 0px;
        margin-top: 0%;
    }
    .welcome-text {
        margin-top: 1%;
        height: 100px;
    }
    .welcome-text p {
        font-size: 70px;
        line-height: 70px;
    }
    .welcome-text a {
        width: 35%;
        /* height: 8%; */
        color: white;
        font-size: 15px !important;
        top: 390px;
        margin: 0% 35%;
    }
    .philosophy {
        height: 100vh;
    }
    .philosophy h1 {
        font-size: 80px;
    }
    .philosophy p {
        padding: 2% 13%;
    }
    .philosophy a {
        width: 35%;
        /* height: 8%; */
        color: white !important;
        font-size: 15px;
        /* top: 390px; */
        margin: 0% 37%;
    }
    .whyus {
        height: 80vh;
    }

    .whyus p {
        font-size: 20px;
    }
    .whyus h1 {
        font-size: 80px;
        margin-top: 10%;
    }
    .whyus a {
        width: 35%;
        margin: -5% 36%;
        color: white !important;
        font-size: 15px;
    }
    .page-footer {
        padding-top: -1% !important;
    }
    #social-media {
        display: flex !important;
        flex-direction: row !important;
        margin: 2% 25% !important;
    }
}
@media only screen and (max-width: 400px) {
    html,
    body {
        overflow-x: hidden;
    }
    .welcome-image img {
        width: 100%;
        margin-left: 50px;
        padding-left: 0px;
        margin-top: 0%;
    }
    .welcome-text a {
        width: 34%;
        /* height: 8%; */
        color: white;
        font-size: 15px !important;
        top: 330px;
        margin: 0% 30%;
    }
    .philosophy h1 {
        font-size: 60px;
    }
    .philosophy p {
        text-align: center;
        padding: 2% 20%;
        font-size: 15px;
    }
    .philosophy a {
        width: 40%;
        /* height: 8%; */
        color: white !important;
        font-size: 15px;
        /* top: 390px; */
        margin: 0% 30%;
    }
    .whyus h1 {
        font-size: 60px;
        margin-top: 1%;
    }
    .whyus p {
        font-size: 20px !important;
        font-family: "Cabin", sans-serif;
        text-align: center;
        padding: 2% 15%;
        font-size: 40px;
        color: white;
    }
    .whyus a {
        margin: -5% 30%;
        color: white !important;
        font-size: 15px;
        width: 40%;
    }
}

/* seedha image ko gaayub */
/* @media only screen and (min-width: 801px) and (max-width: 1450px) {
    html,
    body {
        overflow-x: hidden;
    }
    .welcome-image {
        display: none;
    }
} */

@media only screen and (max-width: 1490px) and (min-width: 801px) {
    html,
    body {
        overflow-x: hidden;
    }
    .welcome-image img {
        width: 400px !important;
        margin-top: 0% !important;
        padding-left: 100px !important;
    }
    .welcome-text p {
        font-size: 80px;
        line-height: 80px;
    }
}
